.navbar {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.09);
  padding-right: 100px;

  .navbar-brand {
    height: 56px;
  }

  .nav-item {
    margin: 0 10px;
  }

  .nav-link {
    color: #62A851;
    font-weight: 600;
    letter-spacing: 1.5px;
    // font-family: 'Roboto', sans-serif!important;
    border-radius: 3px;
    font-size: 1rem;
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;


    &:hover {
      border-bottom: 3px solid #62A85133;
    }
  }
}

.active-link {
  border-bottom: 3px solid #62A851!important;
}

@media (max-width: 770px) {
  .navbar{
    padding: 5px 0;
    padding-left: 10px;
  }
  .navbar-brand {
    width: 200px;
    height: auto;
  }
}
