<div class="container-fluid products-page" [@fadeIn]>

  <div class="landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Our Services </h1>
          <p>Get an amazing communications' consultancy experience <br>
            with our <span>Proficient team</span>
          </p>

          <button class="btn btn-cta" [routerLink]="['/contact-us']">Get in Touch <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>

        </div>
        <div class="col-md-6">
          <!-- <img class="cta-image" src="assets/images/services.svg" alt="logo"> -->

        </div>
      </div>
    </div>

  </div>

  <div class="content" id="product1">
    <div class="container">

      <h3 class="section-heading">Communications Consulting</h3>

      <div class="row">

        <div class="col-md-3">
          <div class="card">
            <h4>Strategic communications planning</h4>
            <p>Get advice on strategic communications and marketing solutions
              tailored to your requirements to boost your project from communication planning to media materials.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Key messages development</h4>
            <p>Get advice on key messaging that brings your brand to life through words that can be delivered consistently by everyone, anytime, anyplace.</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Project management</h4>
            <p>Good management help to keep and grow your customers, tapping into new opportunities and wide social media reach.
            </p>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <h4>Value propositions and narrate </h4>
            <p>We assure innovation & creativity from highly skilled consultants and affordability</p>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <h4>Channels through and narrate</h4>
            <p>Harnes the power of social media & digital media, build a website as an online brochure</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Human resources</h4>
            <p>Recruitment requirements and avail labour laws</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Events / Business processes</h4>
            <p>Clear brief on output required , Brand recognition , work with franchises for prosperity</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Customer Service</h4>
            <p>Understand clients' industry segment and train staff on customer recognition</p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="content" id="product2">
    <div class="container">

      <h3 class="section-heading">Brand strategy</h3>

      <div class="row">

        <div class="col-md-3">
          <div class="card">
            <p>Branding and visual identity are all around us, we will guide you into building a strong visual identity that will set you apart and help you make more thoughtful design decisions in your business.</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="content" id="product3">
    <div class="container">

      <h3 class="section-heading">Language translations</h3>

      <div class="row">

        <div class="col-md-3">
          <div class="card">
            <p>We offer fluent French and English languages.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
