.home-page {
  padding-top: 20px;

  carousel {
    z-index: 0;
  }

  .consultancy-section,
  .media-section,
  .translations-section {
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    // background-attachment: fixed;
    will-change: transform;
    height: 100%;


    .content {
      padding-top: 70px;

      h1 {
        font-weight: 600;
        font-family: 'Roboto', sans-serif!important;
        color: #f1f1f1;
        letter-spacing: 2px;
        font-size: 2.8rem;
        margin-bottom: 40px;
        line-height: 60px;

        span {
          color: #00a651;
        }
      }

      p {
        color: #f1f1f1;
        font-weight: 600;
        padding: 10px 0;
        backdrop-filter:blur(3px);

        span {
          color: #00a651;
        }
      }

      .btn-cta {
        background-color: #00a651;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 0.95rem;
        border-radius: 2px;
        padding: 12px 30px;
        transition: all 0.1s ease;
        margin-bottom: 30px;

        &:hover {
          background-color: #569347;
        }
      }
    }
  }

  .consultancy-section {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 50%, transparent), url("../../assets/images/image-one.jpg");
  }

  .media-section {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 50%, transparent), url("../../assets/images/media.jpeg");
  }

  .translations-section {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 50%, transparent), url("../../assets/images/black-woman.jpeg");
    background-position:center!important;
  }

  .products-section {
    padding: 50px 0;
    height: 600px;
    background-image: linear-gradient(to bottom, #FCFCFC 50% , #00a651 50%);

    h2 {
      font-weight: 600;
      color: #00a651;
      margin-bottom: 50px;

      span {
        border-bottom: 3px solid #00a651;
        border-radius: 3px;
      }
    }

    .card {
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 7px 7px 0 0 rgba(0,0,0,0.09);
      background-color: #FCFCFC;

      &:hover {
        .btn-view span {
          margin-left: 5px;
        }
      }

      h4 {
        color: #5f6063;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 20px;
      }

      p {
        color: #5f6063;
        font-size: 0.9rem;
      }

      .btn-view {
        color: #00a651;
        // font-size: 0.9rem;
        padding-left: 0;
        text-align: left;

        span {
          transition: all 0.2s;
        }
      }
    }
  }

  .companies-section {
    padding: 70px 20px;
    // background-image: linear-gradient(to bottom , #fff8 20% , transparent), url("../../assets/images/testimonial-bg.png");
    background-image: linear-gradient(to bottom , #fff8 20% , transparent), url("../../assets/images/skyscrapper.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    // background-attachment: fixed;
    will-change: transform;
    border-bottom: 1px solid #f1f1f1;
    min-height: 400px;

    h5 {
      font-weight: 600;
      color: #5f6063;
      margin-bottom: 50px;

      span {
        color: #00a651;
      }
    }

    .cta-image {
      height: 100px;
      margin: 0 30px;
      object-fit: contain;
    }
  }

  .call-to-action-section {
    background-image: linear-gradient(to bottom , #fff8 20% , transparent), url("../../assets/images/testimonial-bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    // background-attachment: fixed;
    will-change: transform;

    .content {
      padding: 70px 0;
    }

    h2 {
      color: #5f6063;
      font-weight: 600;
      margin-bottom: 50px;

      span {
        color: #00a651;
      }
    }

    .card {
      border: none;
      width: 94%;
      height: 250px;
      box-shadow: 7px 7px 0 0 rgba(0,0,0,0.09);
    }

    .green-bg {
      background-color: #00a651;

      .pie-wrapper .label,
      .pie-wrapper .label .smaller {
        color: #fff;
      }

      p {
        text-align: center;
        color: #fff;
        font-weight: 600;
      }
    }

    .black-bg {
      background-color: #3c4043;
      margin-top: 50px;

      .pie-wrapper .label,
      .pie-wrapper .label .smaller {
        color: #00a651;
      }

      p {
        text-align: center;
        color: #00a651;
        font-weight: 600;
      }
    }

    .btn-cta {
      background-color: #00a651;
      color: #fff;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 0.95rem;
      border-radius: 2px;
      padding: 12px 30px;
      transition: all 0.1s ease;
      margin-top: 30px;

      &:hover {
        background-color: #569347;
      }
    }

    .cta-image {
      height: 350px;
      margin-top: 150px;
      filter: drop-shadow(0px 3px 40px #00a65144);
    }
  }
}

.set-size {
  font-size: 8em;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  margin: 40px auto 30px;
  position: relative;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.04em solid;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}

.pie-wrapper .label .smaller {
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.05em solid #bdc3c7;
  border-radius: 50%;
}

.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}

.pie-wrapper.style-2 .label .smaller {
  // color: #bdc3c7;
}

.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #fff;
}

.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(340deg);
}

.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-65 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-65 .pie .half-circle {
  border-color: #00a651;
}

.pie-wrapper.progress-65 .pie .left-side {
  transform: rotate(240deg);
}

.pie-wrapper.progress-65 .pie .right-side {
  transform: rotate(180deg);
}
@media (max-width: 3000px) {}
@media (max-width: 2000px) {}
@media (max-width: 1700px) {}
@media (max-width: 1500px) {}
@media (max-width: 1370px) {}
@media (max-width: 770px) {
  .landing-section {

    .consultancy-section {
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 100%, transparent), url("../../assets/images/image-one.jpg")!important;
    }

    .media-section {
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 100%, transparent), url("../../assets/images/media.jpg")!important;
    }

    .translations-section {
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 100%, transparent), url("../../assets/images/translations.jpg")!important;
      background-position:center!important;
    }
    .content {
      padding-top: 60px!important;
      padding-bottom: 30px;

      h1 {
        font-size: 2.5rem!important;
        line-height: 45px!important;

        br {
          display: none!important;
        }
      }

      p {
        br {
          display: none!important;
        }
      }
    }
  }

  .companies-section {
    padding: 30px 0 !important;

    .cta-image {
      height: auto!important;
      max-width: 120px;
      object-fit: contain!important;
      margin: 0 30px;
    }
  }

  .products-section {
    padding: 30px 20px !important;
    height: auto!important;
    border-bottom: 1px solid #f1f1f1;
    background-image: linear-gradient(20deg, #FCFCFC 50% , #00a651 50%)!important;

    h2 {
      color: #f1f1f1!important;
      font-size: 1.7rem;

      span {
        border-bottom: 3px solid #f1f1f1!important;
      }
    }
  }

  .call-to-action-section {
    .content {
      padding: 30px 10px !important;

      h2 {
        font-size: 2rem;

        br {
          display: none!important;
        }
      }

      .card {
        border: none;
        width: 60%;
        height: 250px;
        box-shadow: 7px 7px 0 0 rgba(0,0,0,0.09);
      }

      .black-bg {
        margin-top: 30px!important;
        margin-left: 30%;
      }
    }

    .cta-image {
      width: 100%;
      height: auto;
      margin-top: 0!important;
      margin-top: 150px;
      filter: drop-shadow(0px 3px 40px #00a65144);
    }
  }
}
