<div class="container-fluid home-page" [@fadeIn]>


  <carousel [height]="500" [autoplay]="true" [transitionTimingFunction]="'ease-out'" [cellWidth]="'100%'" [loop]="true" [arrowsTheme]="'dark'" class="landing-section">
    <div class="carousel-cell">
      <div class="consultancy-section">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="content">
                <h1>
                  Transforming ideas into <br>
                  <span>strong</span> and <span>impactful</span> <br>
                  visualizations
                </h1>

                <button class="btn btn-cta" [routerLink]="['/contact-us']">Get in Touch <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-cell">
      <div class="media-section">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="content">


                <h1>
                  Creatively cutting through <br>
                  the <span>noise</span> to get <br>
                  your message across.
                </h1>

                <button class="btn btn-cta" [routerLink]="['/contact-us']">Get in Touch <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-cell">
      <div class="translations-section">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="content">
                <h1>We help you leverage your <br> story, to craft a <span> strong</span> and <span>relatable</span> brand.</h1>

                <button class="btn btn-cta" [routerLink]="['/contact-us']">Get in Touch <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>

  </carousel>


  <!-- PRODUCTS SUMMARY SECTION -->
  <div class="products-section">
    <div class="container">
      <h2><span>What we do here</span></h2>

      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <h4>Communications consultancy</h4>
            <p>Businesses often underestimate the power of a consistent narrative, we'll guide your business step by step into building a strong brand identity.</p>
            <button class="btn btn-view" [routerLink]="['/services']" [queryParams]="{ service: '01' }">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>

          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Customer service training</h4>
            <p>Gain an understanding of your customers' industry segment and train your staff on customer satisfaction and recognition.</p>
            <button class="btn btn-view" [routerLink]="['/services']" [queryParams]="{ service: '02' }">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>

          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Event planning and management</h4>
            <p>with a clear brief on the output required, there should be brand recognition whilst working within franchises for prosperity.</p>
            <button class="btn btn-view" [routerLink]="['/services']" [queryParams]="{ service: '03' }">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>

          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <h4>Language translations and tutoring</h4>
            <p>We offer proffessional education through webinars, learning packages as well as translations.
            </p>
            <button class="btn btn-view" [routerLink]="['/services']" [queryParams]="{ service: '04' }">learn more <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>

          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- LANDING SECTION -->


  <div class="companies-section ">
    <div class="container">

      <div class="col-md-8">
        <h5>Igicu Africa Consultancy Limited has over <span>30 years</span> of experience in
          Corporate Communications, Sales and Marketing , under the leadership of the
          founder, <span routerLink="">Liliane Binagwaho</span>.
        </h5>
      </div>


      <div class="row">

        <img class="cta-image" src="assets/images/total.png" alt="logo">

      </div>
    </div>
  </div>



  <div class="call-to-action-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content">
            <h2>Get an amazing consultancy <br>
              experience with our <br>
              <span>Proficient team</span>
            </h2>

            <div class="row">
              <div class="col-md-5">
                <div class="card green-bg">

                  <div class="set-size">
                    <div class="pie-wrapper progress-95 style-2">
                      <span class="label">95<span class="smaller">%</span></span>
                      <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                      </div>
                      <!-- <div class="shadow"></div> -->
                    </div>
                  </div>

                  <p>Problem solving</p>

                </div>
              </div>
              <div class="col-md-5">
                <div class="card black-bg">
                  <div class="set-size">
                    <div class="pie-wrapper progress-65 style-2">
                      <span class="label">65<span class="smaller">%</span></span>
                      <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                      </div>
                      <!-- <div class="shadow"></div> -->
                    </div>
                  </div>

                  <p>Business growth</p>

                </div>
              </div>

            </div>

            <button class="btn btn-cta">Get in Touch <span><i class="fas fa-arrow-circle-right ml-2"></i></span></button>

          </div>
        </div>
        <div class="col-md-6">
          <img class="cta-image" src="assets/images/team.svg" alt="logo">



        </div>
      </div>
    </div>
  </div>
</div>
